:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #E2E8F0;
  color: #1F2A3B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, th, td {
  font-size: .75rem;
  border: 1px solid #1F2A3B;
  border-collapse: collapse;
  padding: .5rem .25rem;
}
th.thead {
  min-width: 7rem;
}
.addItemButton {
  background-color: green;
  border: none;
  color: #E2E8F0;
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.2rem;
}
.itemInput {
  padding: 0.75rem;
  background-color: white;
  border: none;
  color: #262626;
}
.form {
  width: 15rem;
  border: solid 1px;
  padding: 1rem;
  border-radius: .5rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.taskItem{
  margin: 0;
  font-weight: bold;
}
.completedStyle{
  text-decoration: line-through;
}
.actionCell {
  display: flex;
  gap: .5rem;
  border: none;
  
  button {
    border: none;
    color: #E2E8F0;
    padding: 0.4rem;
    width: fit-content;
    border-radius: 0.2rem;
  }

  .markCompleteTodoItem{
    background-color: green;
  }
  .removeTodoItem {
    background-color: #a10505;

  }
}
.flexCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
